@using Core
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 系统管理</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    @Styles.Render("~/Content/common.css")
    <script src="http://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    @Styles.Render("~/Content/jquery.dataTables.min.css")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src="~/Scripts/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="head-logo">
        <nav class="navbar navbar-inverse">
            <div class="">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <img src="~/images/Logo-Mall.png">
                    </a>
                </div>

                <div class="sidebar" id="sidebar">
                    <h4 class="text-center">@{ var x = Session["UserName"].ToString();}@x 欢迎您</h4>
                    @if (Convert.ToInt32(Session["Role"]) == (int)UserRole.Admin)
                    {
                        <ul class="menu-title">
                            <li><a href="@Url.Action("UserList", "User")"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                            <li><a href="@Url.Action("Index", "SysConfig")"><i class="glyphicon glyphicon-cog"></i>系统设定</a></li>
                            <li><a href="@Url.Action("AdvList", "Adv")"><i class="glyphicon glyphicon-tasks"></i>广告管理</a></li>
                            <li><a href="@Url.Action("AreaIndex", "SysConfig")"><i class="glyphicon glyphicon-map-marker"></i>区域设定</a></li>
                            <li><a href="@Url.Action("AdminRechargeHistory", "User")"><i class="glyphicon glyphicon-credit-card"></i>充值管理</a></li>
                            <li><a href="@Url.Action("UserList", "User")"><i class="glyphicon glyphicon-yen"></i>系统收益</a></li>

                        </ul>
                    }
                    else
                    {



                        <ul>
                            <li><a href="@Url.Action("UAdvList", "Adv")"><i class="glyphicon glyphicon-picture"></i>我的广告</a></li>
                        </ul>
                    }
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                @*<div id="bs-example-navbar-collapse-9" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navigation">
                        <li class="active"><a href="#">所有广告</a></li>

                    </ul>

                </div>*@
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </section>
    <section class="main">

        <div class="main-wrap" id="main-wrap">
            @RenderBody()

        </div>
        <div class="footer-main text-muted" id="footer">
            <div class="text-center">
                &copy; copyright 2016	<span class="margin-left-15">湘ICP备14010744号</span> <span class="margin-left-15">电话：<span class="text-warning">0731-87659803</span></span>
            </div>
        </div>
    </section>
    @RenderSection("scripts", required: false)
</body>
<script type="text/javascript">
    $(function () {
        var a = document.getElementById("sidebar");
        var b = document.getElementById("main-wrap");
        var c = document.getElementById("footer");
        if (a.clientHeight < b.clientHeight) {
            a.style.height = b.clientHeight + c.clientHeight + "px";
        } else {
            b.style.height = a.clientHeight + c.clientHeight + "px";
        }

    });
    </script>
</html>

