@using Core
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 系统管理</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width"/>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/jquery.dataTables.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    
    <link href="~/Content/jquery.dataTables.min.css"/>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
</head>
<body>

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @if (Convert.ToInt32(Session["Role"]) == (int)UserRole.Admin)
            {
                <ul>
                    <li>@Html.ActionLink("用户管理", "UserList", "User")</li>
                    <li>@Html.ActionLink("广告管理", "AdvList", "Adv")</li>
                    <li>@Html.ActionLink("系统设定", "Index", "SysConfig")</li>
                    <li>@Html.ActionLink("区域设定", "AreaIndex", "SysConfig")</li>
                    <li>@Html.ActionLink("充值管理", "AdminRechargeHistory", "User")</li>
                </ul>
            }
            else
            {
                <ul>
                    <li>@Html.ActionLink("我的广告", "UAdvList", "Adv")</li>
                </ul>
            }

        </section>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
