@{
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}

@using Core
@using MicroWebsite.Models
@model AreaIndexModel
<a href="@Url.Action("CreateAreaPath", "SysConfig")">创建新区域</a>
<h2>所有区域</h2>
<table cellpadding="0" cellspacing="0" id="AreaTable" class="table table-hover">
    <thead>
        <th>区域名称</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>操作</th>
    </thead>
    @foreach (AreaModel u in Model.AllAreaList)
    {
        <tr>
            <td>@u.AreaFullName</td>
            <td>@SystemStaticData.LookUpSystemIncomeStatusId(u.Status)</td>
            <td>@u.CreateAt</td>
            <td>
                <a href="@Url.Action("DeleteArea", "SysConfig", new { areaId = u.AreaId })">删除</a>
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("CreateAreaPoint", "SysConfig")">创建新地标</a>
<h2>所有区域</h2>
<table cellpadding="0" cellspacing="0" id="AreaPointTable" class="table table-hover">
    <thead>
        <th>区域名称</th>
        <th>地标名称</th>
        <th>纬度</th>
        <th>经度</th>
        <th>创建时间</th>
        <th>操作</th>
    </thead>
    @foreach (AreaPointModel u in Model.AreaPointList)
    {
        <tr>
            <td>@u.AreaName</td>
            <td>@u.PositionName</td>
            <td>@u.Latitude</td>
            <td>@u.Longitude</td>
            <td>@u.CreateAt</td>
            <td>
                <a href="@Url.Action("DeleteAreaPosition", "SysConfig", new { areaPositonId = u.AreaPositionId })">删除</a>
            </td>
        </tr>
    }
</table>
<script>

    var optionArea = {
        "iDisplayLength": 10,
        'bLengthChange': false,
        "language": {
            "search": "筛选 : ",
            "info": " _START_  - _END_ 总共 _TOTAL_ 记录",
            "paginate": {
                "first": "首页",
                "last": "尾页",
                "next": "下一页",
                "previous": "上一页"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [3] },
            { "type": "usdate", "aTargets": [2] }
        ],
        "fnDrawCallback": function () {
            //setConfirmValue();
        }
    };

    var optionAreaPoint = {
        "iDisplayLength": 10,
        'bLengthChange': false,
        "language": {
            "search": "筛选 : ",
            "info": " _START_  - _END_ 总共 _TOTAL_ 记录",
            "paginate": {
                "first": "首页",
                "last": "尾页",
                "next": "下一页",
                "previous": "上一页"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [5] },
            { "type": "usdate", "aTargets": [4] }
        ],
        "fnDrawCallback": function () {
            //setConfirmValue();
        }
    };

    $(document).ready(function () {
        $("#AreaTable").dataTable(optionArea);
        $("#AreaPointTable").dataTable(optionArea);
    });

</script>
