@{
    ViewBag.Title = "CreateRechargeReward";
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}
@model DataAccessLayer.RechargeReward
<h2>创建充值奖励</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.AntiForgeryToken()
        <span>奖励金额</span>: @Html.TextBoxFor(m => m.RewardValue)
        @Html.ValidationMessageFor(m => m.RewardValue)
        <span>奖励条件</span>: @Html.TextBoxFor(m => m.TargetValue)
        @Html.ValidationMessageFor(m=>m.TargetValue)
        <input type="submit" value="Submit" />
    </div>
}