@{
    ViewBag.Title = "广告管理";
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}
@using Core
@using MicroWebsite.Models
@model AdvListModel
<h2>所有广告</h2>
<table cellpadding="0" cellspacing="0" id="AdvTable" class="table table-hover">
    <thead>
    <th>广告名称</th>
    <th>投放区域</th>
    <th>投放帐号</th>
    <th>投放总额</th>
    <th>红包总数</th>
    <th>剩余金额</th>
    <th>广告状态</th>
    <th>扣费链接</th>
    <th>创建时间</th>
    <th>操作</th>
    </thead>
    @foreach (AdvDisplayModel u in Model.Advs)
    {
        <tr>
            <td>@u.AdvTitle</td>
            <td>@u.AreaFullName</td>
            <td>@u.PublishUserName</td>
            <td>@u.TotalCash</td>
            <td>@u.TotalCount</td>
            <td>@u.RemainderCash</td>
            <td>@SystemStaticData.LookUpAdvStatusId(u.Status)</td>
            <td>@u.CostFeeUrl</td>
            <td>@u.CreateAt</td>
            <td>
                @if (u.Status == SystemStaticData.LookUpAdvStatusId(SystemStaticData.AdvDictionary.Prepare))
                {
                    <a href="@Url.Action("ModifyAdv", "Adv", new {advId = u.AdvId})">审核</a>
                }
                else if(u.Status == SystemStaticData.LookUpAdvStatusId(SystemStaticData.AdvDictionary.Normal))
                {
                    <a href="@Url.Action("AdminDeleteAdv", "Adv", new {advId = u.AdvId})">强制下架</a>
                }
            </td>
        </tr>
    }
</table>
<script>

    var optionArea = {
        "iDisplayLength": 10,
        'bLengthChange': false,
        "language": {
            "search": "筛选 : ",
            "info": " _START_  - _END_ 总共 _TOTAL_ 记录",
            "paginate": {
                "first": "首页",
                "last": "尾页",
                "next": "下一页",
                "previous": "上一页"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [9] },
            { "type": "usdate", "aTargets": [8] }
        ],
        "fnDrawCallback": function () {
            //setConfirmValue();
        }
    };

    $(document).ready(function () {
        $("#AdvTable").dataTable(optionArea);
    });

</script>