@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}
@model DataAccessLayer.User
<h2>创建新用户</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.AntiForgeryToken()
        <span>Email</span>: @Html.TextBoxFor(m => m.Email)
        <span>用户名</span>: @Html.TextBoxFor(m => m.AccountName)
        <span>密码</span>:  @Html.PasswordFor(m => m.Password)
        <span>法人代表</span>: @Html.TextBoxFor(m => m.LegalPersonName)
        <span>手机号</span>:  @Html.TextBoxFor(m => m.MobilePhone)
        <span>电话</span>: @Html.TextBoxFor(m => m.Telephone)
        <span>公司名称</span>:  @Html.TextBoxFor(m => m.CompanyName)
        <input type="submit" value="Submit" />
    </div>
}