@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}
@using DataAccessLayer
@model MicroWebsite.Models.ManagerUserModel
<h2>ManageUser</h2>
<table>
    <tr>
        <td>用户名</td>
        <td>状态</td>
        <td>操作</td>
    </tr>
    @foreach (User u in Model.Users)
    {
        <tr>
            <td>@u.AccountName</td>
            <td>@u.Status</td>
            <td></td>
        </tr>
    }
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.NewUser.Email)
    @Html.TextBoxFor(m => m.NewUser.AccountName)
    @Html.TextBoxFor(m => m.NewUser.Password)
    @Html.TextBoxFor(m => m.NewUser.LegalPersonName)
    @Html.TextBoxFor(m => m.NewUser.MobilePhone)
    @Html.TextBoxFor(m => m.NewUser.Telephone)
    @Html.TextBoxFor(m => m.NewUser.CompanyName)
    <input type="submit" value="Submit" />
}
