@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MicroWebsite.Models.SignInModel
<h2>SignIn</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    <input type="submit" value="signIn" />
}