@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_WorkspaceLayout.cshtml";
}
@using Core
@using DataAccessLayer
@model MicroWebsite.Models.UserListModel

<div  class="current">
            <ul class="nav navbar-nav navigation">
                <li class="active"><a href="#">所有用户</a></li>
            </ul>
    <!-- /.navbar-collapse -->
    <div class="padding-15">
        
    <a href="@Url.Action("Create", "User")"class="btn btn-warning pull-right margin-bottom-15"><i class="glyphicon glyphicon-plus-sign"></i> 创建新用户</a>
    <table cellpadding="0" cellspacing="0" id="userTable" class="table table-hover">
        <thead>
            <th>用户名</th>
            <th>手机</th>
            <th>公司名称</th>
            <th>Email</th>
            <th>状态</th>
            <th>上次登录时间</th>
            <th>操作</th>
        </thead>
        @foreach (User u in Model.Users)
        {
            <tr>
                <td>@u.AccountName</td>
                <td>@u.MobilePhone</td>
                <td>@u.CompanyName</td>
                <td>@u.Email</td>
                <td>@SystemStaticData.LookUpUserStatusId(u.Status)</td>
                <td>@u.LastLoginIn</td>
                <td>
                    @if (u.Status == SystemStaticData.LookUpUserStatusId(SystemStaticData.UserDictionary.Normal))
                    {
                        <a href="@Url.Action("DisableUserAccount", "User", new { userId = u.UserId })">封停账户</a>
                    }
                    else
                    {
                        <a href="@Url.Action("EnableUserAccount", "User", new { userId = u.UserId })">解除封停</a>
                    }
                    <a href="@Url.Action("ResetPassword", "User", new { userId = u.UserId })">重置密码</a>
                </td>
            </tr>
        }
    </table>
</div>
    
</div>
<script>

    var optionArea = {
        "iDisplayLength": 10,
        'bLengthChange': false,
        "language": {
            "search": "查找 : ",
            "info": " _START_  - _END_ 总共 _TOTAL_ 记录",
            "paginate": {
                "first": "首页",
                "last": "尾页",
                "next": "下一页",
                "previous": "上一页"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [6] },
            { "type": "usdate", "aTargets": [5] }
        ],
        "fnDrawCallback": function () {
            //setConfirmValue();
        }
    };

   

    $(document).ready(function () {
        $("#userTable").dataTable(optionArea);
    });

</script>

